<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.levaai1">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <meta-data
        android:name="br.com.juno.directcheckout.public_token_sandbox"
        android:value="74E3B38F32887008B8CDB0B727DACC7F6E7FB161DEC8211C1B24B0B5F17F6793"/>
</manifest>
